<%- include('../partials/metadata')  %> 
<%- include('../partials/header')  %> 


    <main>
        <section class="banner">
            <div class="banner-foto">                
                <img src="/images/banner-01.jpg">
                <p class="texto-banner"> TU TIENDA DEPORTIVA</p>
            </div>
        </section>
        <section class="productos-novedades">
            <h2 class="titulo-seccion"> TODOS LOS PRODUCTOS</h2>
            <div class="catalogo-productos">
                <% productos.forEach(function(producto){ %>
                    <%- include('partials/productoGrilla', { productoItem: producto, modoOfertas: false}); %>
                <% }); %>
            </div>
        </section>
        <hr>

    </main>

    <%- include('../partials/footer')  %>     

