<%- include('../partials/metadata')  %> 
<%- include('../partials/header')  %> 


    <main>
        <div id="cart">
            <div class="cartContainer">
                <div class="cartHeader">
                    <h3 class="cartHeading">Carrito de Compra</h3>
                    <h5 class="cartAction">Quitar todo</h5>
                </div>
      
                <div class="cart-Items">
                      <div class="image-box">
                          <img src="/images/productos/m-short-02.jpg" style="height:120px" />
                      </div>
                      <div class="about">
                          <h1 class="title">SHORT></h1>
                          <h3 class="subtitle">XS</h3>
                      </div>
                      <div class="counter">
                          <div class="btn">+</div>
                          <div class="count">1</div>
                          <div class="btn">-</div>
                      </div>
                      <div class="prices">
                          <div class="amount">$500</div>
                          <div class="save"><u>Favoritos</u></div>
                          <div class="remove"><u>Quitar</u></div>
                      </div>
                </div>
                <div class="cart-Items">
                    <div class="image-box">
                        <img src="/images/productos/m-short-02.jpg" style="height:120px" />
                    </div>
                    <div class="about">
                        <h1 class="title">SHORT></h1>
                        <h3 class="subtitle">XS</h3>
                    </div>
                    <div class="counter">
                        <div class="btn">+</div>
                        <div class="count">1</div>
                        <div class="btn">-</div>
                    </div>
                    <div class="prices">
                        <div class="amount">$500</div>
                        <div class="save"><u>Favoritos</u></div>
                        <div class="remove"><u>Quitar</u></div>
                    </div>
              </div>                
      
              <div class="cartCheckout">
                <div class="total">
                    <div>
                        <div class="Subtotal">Total</div>
                        <div class="items">2 items</div>
                    </div>
                    <div class="total-amount">$1000</div>
                </div>
                <button class="button">Pagar</button>
            </div>
        </div>
     </div>
     <div class="footer-flex">
        <div class="footflexcontain">
            <i class="fas fa-credit-card"></i>
            <p class="footer-p1">Pagá como vos prefieras</p>
            <p class="footer-p2">Tenes todas las opciones de pago, Efectivo, Transferencia Bancaria o Deposito,
                Mercadopago, Todo Pago, y Tarjeta de Debito y Credito con hasta 48 Cuotas Fijas. ¡Y siempre es
                seguro!</p>
        </div>
        <div class="footflexcontain">
            <i class="fas fa-gift"></i>
            <p class="footer-p1">Envío gratis desde $ 5.000 </p>
            <p class="footer-p2">Registrate en nuestra tienda y obtené envíos gratis con tus compras superiores
                a $5.000. Ademas registrandote, sabrás de las novedades y lanzamientos de XLR8</p>
        </div>
        <div class="footflexcontain">
            <i class="fas fa-user-shield"></i>
            <p class="footer-p1">Seguridad, de principio a fin</p>
            <p class="footer-p2">¿No te gusta? ¿No es tu talle? ¡Escribinos! XLR8 tiene productos comodos, si
                ese no era el tuyo, te lo cambiamos.</p>
        </div>
    </div>
    <hr>
        
    </main>

    <%- include('../partials/footer')  %>     

