@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: lightgray;
}

img {
    max-width: 100%;
}

/*:::::::::::::::::::::::HEADER:::::::::::::::::::::::*/

header {
    background: #1E1E20;
    width: 100%;    
    padding: 10px;    
}

h2 {
    color: #1259c3;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 15px;
    text-align: center;
    font-family: 'Montserrat';
    border-top: #0EC5D9;
}

.menu-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.burger-menu {
    padding: 5px;
    display: flex;   
    flex-direction: row;    
}

.burger-menu a{
    display: inline-block;
    text-decoration: none;
    color: #ACEF35;
    width: 50px;
    line-height: 45px;
    margin: 5px;
    background-color: #24303c;
    text-align: center;
    transition: all 300ms ease; 
}

.burger-menu a:hover{
    color:#0EC5D9;
    text-shadow: 3px;
    transition: all 0.1s ease-in-out;
}

.logo {
    display: flex;    
}

.logo img{
    max-width: 200px;
    max-height: 80px;
    padding: 5px;
}

.menu-perfil {
    padding: 5px;
    display: flex;   
    flex-direction: row;    
}


.menu-perfil a {
    display: inline-block;
    text-decoration: none;
    color: #ACEF35;
    width: 50px;
    line-height: 45px;
    margin: 5px;
    background-color: #24303c;
    text-align: center;
    transition: all 300ms ease;    
}

.menu-perfil a:hover{
    color:#0EC5D9;
    text-shadow: 3px;
    transition: all 0.1s ease-in-out;
}

.menu-categorias nav {
    display: flex;
    width: 100%;
    font-size: 12px;
    justify-content: space-around;
    align-items: center;    
    flex-direction: row;
}

.menu-genero {
    display: flex;
    justify-content: center;
        
}

.menu-categorias a{
    display: inline-block;
    padding: 10px 5px;
    align-items: center;
    text-decoration: none;
    color: #ACEF35;
}

h3 {
    color: #ACEF35;
    padding: 10px 5px;
    font-size: 16px;

}

.menu-categorias nav {
    display: none;    
}

ul {
    text-align: center;    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    margin: 0px 10px;
}

ul li {
    list-style-type: none;
}

/*:::::::::::: ABAJO PEGAR DETALLE PRODUCTO :::::::::::::*/

.padre-contenedor{
    display: flex;
    height: 100%;
    
}

.container{
    display: flex;
    width: 50%;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 3px;
    background-color: #CCD1D1;
    
}

.div-foto{
    display: flex;
    width: 100%;
    height: 100%;


}


.img-grande, .img-grande1, .img-grande2{
    width: 30%;
    height: 30%;
    display: flex;
    margin: 0 30%;

}

.div-contenedor{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    
}

.div-contenedor-img-principal{
    width: 100%;
    display: flex;
    justify-content: center;
    


    

}

.details{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;

}

.container-1{
    width: 50%;
    display: flex;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 3px;
    background-color: #CCD1D1;
}


.div-detalle{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.detalle-titulo{
    width: 100%;
    margin: 10px;
    height: 60px;
}

h1{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    
}

.price{
 
    height: 50px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    
    
}

.precio-producto{
    color: black;
    font-weight: 900;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

img{
    border-radius: 20px
}

.cuotas{
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 3px;
    height: 30px;
    margin: 0 auto;
    padding-top: 4px;
}

.medios-pagos{
    display: flex;
    justify-content: center;
} 


.a-pagos{
    text-decoration: underline;
    color:#24303c;

}

.a-pagos:hover{
    font-size: 18px;
    color:crimson;
}

.form-color{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.label-color{
    margin-top: 2px;
}
.talles{
    margin: 0 auto;
    display: flex;
    margin-top: 15px;

}

button, .talle{
    margin: 2px
}

.cantidad  {
    display: flex;
    margin: 0 auto;
    margin-top: 15px

}
.input {
    width: 50px;
    text-align: center;
}

.boton-agregar-carrito{
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
}


.envio{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.calcular-boton{
    font-size: 18px;
    padding: 5px;
}

.label-envio{
    padding: 8px;
}

.olvide-postal{
    display: flex;
    justify-content: center;
}

.a-postal{
    color: #1E1E20;
}

.a-postal:hover{
    font-size: 18px;
    color: #ACEF35;
}

.div-contenedor-button{
    margin: 0 auto;
    margin-top: 10px;
}


/*::::::::::::::::::::::: HASTA ACA DETALLE DE PRODUCTO :::::::::::::::::::::::*/

/*:::::::::::::::::::::::FOOTER:::::::::::::::::::::::*/

footer {
    background-color: #1E1E20;
    width: 100%;    
    padding: 10px;      
}

/* FOOT 1*/


.footer-flex {
    color: lightgrey;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: auto;
    flex-direction: column;
}

.footflexcontain {
    margin: 25px;
}

.footer-p1 {
    font-size: 14px;
    font-weight: bolder;
}

.footer-p2 {
    font-size: 12px;
    font-weight: 600;
}

footer .footer-flex i{
    color: #ACEF35;
    margin: 10px;
    font-size: 24px;
}

/* FOOT 2*/

.footer-2 {
    display: flex;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
    margin: auto;
    flex-direction: column;
}

.cajaFoot {
    margin: 25px;
    justify-content: center;
    
}

.foot-logo img {
    max-width: 100px;
    max-height: 50px;
    margin-top: 5px;
    padding: 5px;
}

.cajaFoot h2 {
    color: white;
    padding: 5px 0px;
    margin: 10px 0px 10px 0px;
    font-size: 12px;
    font-weight: 700;
}

.etiquetas {
    font-size: 12px;
    padding: 8px;
}

footer .generos {
    flex-direction: row;
}

footer .menu-prendas {
    flex-direction: row;
}

.foot-menu a {    
    text-decoration: none;
    color: #ACEF35;
    font-size: 12px;
    line-height: auto;
    margin: 3px;       
}

.footer-2 .cajaFoot p {
    color: #efefef;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    align-items: flex-start;
}

.cajaFoot .footflex-social-media a i{
    display: inline-block;
    text-decoration: none;
    color: #ACEF35;
    width: 50px;
    line-height: 32px;
    margin-right: 10px;
    background-color: #24303c;
    text-align: center;
    transition: all 300ms ease;
    flex-direction: row;
}

.cajaFoot .footflex-social-media a:hover {
    color:#0EC5D9;
}

/* FOOTER 3 Copyright */

.copyright {
    font-size: 10px;
    color: lightgrey;
    background-color: #000;
    width: 100%;
    padding: 15px 10px;    
    display: flex;
    justify-content: space-between;
}


@media (min-width: 768px) {
    header{
        flex-direction: row;
    }
    h2 {
        color: #1259c3;
        font-size: 22px;
    }
    .burger-menu {
        display: none;        
    }
    .menu-top {
        justify-content: space-between;     
    }
    .menu-perfil {
        flex-direction: row;               
    }
    .menu-perfil a {
        width: 60px;
        line-height: 50px;
        margin: 5px;
    }
    .menu-categorias nav{
        display: block;
        flex-direction: row;
        font-size: 15px;
    }
    .icono-oferta {               
        width: 65px;  
        padding: 5px; 
        align-items: center;
        justify-content: center;
        color: white;
        background-color: fuchsia;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);    
        position: absolute;
        border-radius: 50%;
        right: -2%;
        top: -4%;
        transition: all 0.5s ease-in-out;   
        
    }
    .textos-ayuda {
        justify-content: center;
        flex-direction: row;        
    }
    .footer-2 {    
        width: 100%;    
        flex-direction: row;
    }
    .footer-flex {
        flex-direction: row;
    }
    .cajaFoot .footflex-social-media {
        flex-direction: row;
    }    
}