<%- include('partials/metadata')  %> 
<%- include('partials/header')  %> 


    <main>
        <div class="slider-carrusel">
            <div>
                <input type="radio" id="1" name="image-slide" hidden></input>
                <input type="radio" id="2" name="image-slide" hidden></input>
                <input type="radio" id="3" name="image-slide" hidden></input>
            </div>
            <div class="slider">
                <div class="foto-slider">
                    <img class="carru" src="/images/carrousel-01.jpg">
                </div>
                <div class="foto-slider">
                    <img class="carru" src="/images/carrousel-02.jpg">
                </div>
                <div class="foto-slider">
                    <img class="carru" src="/images/carrousel-03.jpg">
                </div>
            </div>
            <div class="sistema-slider">
                <label class="sistema-slider-item">
                    <img src="/images/carrousel-01.jpg">
                </label>
                <label class="sistema-slider-item">
                    <img src="/images/carrousel-02.jpg">
                </label>
                <label class="sistema-slider-item">
                    <img src="/images/carrousel-03.jpg">
                </label>
            </div>
        </div>
        <section class="productos-novedades">
            <h2 class="titulo-seccion"> OFERTAS DE ÚLTIMO MOMENTO, NO TE QUEDES AFUERA! </h2>
            <div class="catalogo-productos">
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/h-buzo-01.jpg" id="foto">
                        <img src="/images/discount-label-for-commerce.png" id="icono-oferta"></i>

                    </div>
                    <h1 class="titulo-producto"> BUZO PUMA</h1>
                    <div class="descripcion-producto">                        
                        <div class="precio-producto">
                            <p class="precio">
                                $700
                            </p>
                            <p class="descuento">
                                10% OFF
                            </p>
                        </div>
                        <div class="etiquetas-categorias">
                            
                        </div>
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Hombre</p>
                            <p> Talle: X</p>
                            <p> Color: Negro/Gris</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/m-short-02.jpg" id="foto">
                        <img src="/images/discount-label-for-commerce.png" id="icono-oferta"></i>
                    </div>
                    <h1 class="titulo-producto"> SHORT UNDER ARMOUR</h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $790
                            </p>
                            <p class="descuento">
                                10% OFF
                            </p>
                            <div class="etiquetas-categorias">

                            </div>
                        </div>
                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Mujer</p>
                            <p> Talle: L</p>
                            <p> Color: Lila</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/m-campera-02.jpg" id="foto">
                        <img src="/images/discount-label-for-commerce.png" id="icono-oferta"></i>
                    </div>
                    <h1 class="titulo-producto"> CAMPERA REEBOK</h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $2700
                            </p>
                            <p class="descuento">
                                30% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Unisex</p>
                            <p> Talle: M</p>
                            <p> Color: Azul</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/m-calza-01.jpg" id="foto">
                        <img src="/images/discount-label-for-commerce.png" id="icono-oferta"></i>
                    </div>
                    <h1 class="titulo-producto"> CALZA ASICS</h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $900
                            </p>
                            <p class="descuento">
                                15% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Mujer</p>
                            <p> Talle: L</p>
                            <p> Color: Rosa</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>

            </div>
        </section>        

        <section class="banner-info">
            <div class="textos-ayuda">
                <div class="cajatxt-banner">
                    <i class="fas fa-running"></i>
                    <p class="info-p1">HACEMOS ROPA DEPORTIVA</p>
                    <p class="info-p2">Nuestras prendas son confeccionadas especialmente para la comodidad de uso.</p>
                </div>
                <div class="cajatxt-banner">
                    <i class="fas fa-tshirt"></i>
                    <p class="info-p1">ENCONTRÁ TU TALLE</p>
                    <p class="info-p2">Revisa la guía de talles para elegir el modelo justo para vos!</p>
                </div>
                <div class="cajatxt-banner">
                    <i class="fab fa-whatsapp"></i>
                    <p class="info-p1">Contactanos</p>
                    <p class="info-p2">Necesitas mas info sobre los productos? Tenes dudas? Escribinos! </p>
                </div>
            </div>
        </section>

        <section class="productos-novedades">
            <h2 class="titulo-seccion"> NOVEDADES XLR8...WOW!</h2>
            <div class="catalogo-productos">
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/h-buzo-02.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> BUZO ADIDAS</h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $2000
                            </p>
                            <p class="descuento">
                                30% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero : Unisex</p>
                            <p> Talle: M</p>
                            <p> Color: Azul Francia</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/h-calza-01.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> CALZA ASICS</h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $2500
                            </p>
                            <p class="descuento">
                                25% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Hombre</p>
                            <p> Talle: L</p>
                            <p> Color: Negro</p>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/h-campera-01.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> CAMPERA PUMA</h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $4500
                            </p>
                            <p class="descuento">
                                40% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Hombre</p>
                            <p> Talle: M</p>
                            <p> Color: Verde</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/h-pantalon-02.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> PANTALON PUMA</h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $1500
                            </p>
                            <p class="descuento">
                                25% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Hombre</p>
                            <p> Talle: L</p>
                            <p> Color: Azul Oscuro</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>               

            </div>
        </section>

        <section class="banner">
            <div class="banner-foto">                
                <img src="/images/banner-01.jpg">
                <p class="texto-banner"> TU TIENDA DEPORTIVA</p>
            </div>
        </section>
        <section class="productos-novedades">
            <h2 class="titulo-seccion"> NUESTRO CATALOGO...A SOLO UN CLICK DE DISTANCIA!</h2>
            <div class="catalogo-productos">
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/h-remera-01.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> REMERA ASICS</h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $600
                            </p>
                            <p class="descuento">
                                10% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Hombre</p>
                            <p> Talle: XL</p>
                            <p> Color: Azul</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/h-campera-02.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> CAMPERA PUMA </h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $3000
                            </p>
                            <p class="descuento">
                                40% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Unisex</p>
                            <p> Talle: M</p>
                            <p> Color: Negro</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/m-pantalon-01.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> PANTALON UNDER ARMOUR </h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $2800
                            </p>
                            <p class="descuento">
                                50% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Unisex</p>
                            <p> Talle: M</p>
                            <p> Color: Gris</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/h-short-02.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> SHORT ADIDAS </h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $1000
                            </p>
                            <p class="descuento">
                                20% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Hombre</p>
                            <p> Talle: XL</p>
                            <p> Color: Gris</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/m-buzo-02.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> BUZO UNDER ARMOUR </h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $1400
                            </p>
                            <p class="descuento">
                                10% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Mujer</p>
                            <p> Talle: M</p>
                            <p> Color: Durazno</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/m-remera-01.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> REMERA UNDER ARMOUR </h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $2500
                            </p>
                            <p class="descuento">
                                40% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Mujer</p>
                            <p> Talle: S</p>
                            <p> Color: Negro</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/h-short-01.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> SHORT ADIDAS </h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $2900
                            </p>
                            <p class="descuento">
                                10% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Hombre</p>
                            <p> Talle: L</p>
                            <p> Color: Negro</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="fotoProducto">
                        <img src="/images/productos/m-calza-02.jpg" id="foto">
                    </div>
                    <h1 class="titulo-producto"> CALZA ASICS </h1>
                    <div class="descripcion-producto">
                        <div class="precio-producto">
                            <p class="precio">
                                $4000
                            </p>
                            <p class="descuento">
                                50% OFF
                            </p>
                            <div class="etiquetas-categorias">
    
                            </div>
                        </div>                        
                    </div>
                    <div class="etiquetas">
                        <div>
                            <p> Genero: Mujer</p>
                            <p> Talle: L</p>
                            <p> Color: Negro</p>
                        </div>
                        <button class="boton-de-compra" href="/producto/detalle">COMPRAR</button>
                    </div>
                </article>

            </div>
        </section>
        <div class="footer-flex">
            <div class="footflexcontain">
                <i class="fas fa-credit-card"></i>
                <p class="footer-p1">Pagá como vos prefieras</p>
                <p class="footer-p2">Tenes todas las opciones de pago, Efectivo, Transferencia Bancaria o Deposito,
                    Mercadopago, Todo Pago, y Tarjeta de Debito y Credito con hasta 48 Cuotas Fijas. ¡Y siempre es
                    seguro!</p>
            </div>
            <div class="footflexcontain">
                <i class="fas fa-gift"></i>
                <p class="footer-p1">Envío gratis desde $ 5.000 </p>
                <p class="footer-p2">Registrate en nuestra tienda y obtené envíos gratis con tus compras superiores
                    a $5.000. Ademas registrandote, sabrás de las novedades y lanzamientos de XLR8</p>
            </div>
            <div class="footflexcontain">
                <i class="fas fa-user-shield"></i>
                <p class="footer-p1">Seguridad, de principio a fin</p>
                <p class="footer-p2">¿No te gusta? ¿No es tu talle? ¡Escribinos! XLR8 tiene productos comodos, si
                    ese no era el tuyo, te lo cambiamos.</p>
            </div>
        </div>
        <hr>

    </main>

    <%- include('partials/footer')  %>     

