<%- include('partials/metadata')  %> 
<%- include('partials/header')  %> 

    
    <main>
        <form> 
            <section class="form-register">
                <div class="logo1">
                    <a href="/">
                        <img src="\images\completo-XLR8-mediano.png">
                    </a>
                </div>
                <h4>NUEVO PRODUCTO</h4>
                <input class="controls" type="text" name="titulo-producto" id="titulo-producto" placeholder="titulo-producto">
                <textarea id="controls" name="descripcion-area" rows="10" id="descripcion-area" placeholder="descripcion-area"></textarea>
                <input class="agregar-foto" type="file" name="foto-1" id="foto-1" accept=".jpg, .png, .jpeg" placeholder="Agregar Foto Frente">
                <input class="agregar-foto" type="file" name="foto-2" id="foto-2" accept=".jpg, .png, .jpeg" placeholder="Agregar Foto Frente">
                <input class="agregar-foto" type="file" name="foto-3" id="foto-3" accept=".jpg, .png, .jpeg" placeholder="Agregar Foto Frente">
                <input class="controls" type="number" name="precio" id="password" placeholder="Precio">
                <input class="controls" type="number" name="precio-promo" id="precio-promo" placeholder="Precio Promocional">
                <input class="controls" type="number" name="sku" id="sku" placeholder="sku">
                <label for="talle">TALLE</label>
                <select id="talle" name="talle">
                    <option value="small">SMALL</option>
                    <option value="medium">MEDIUM</option>
                    <option value="large">LARGE</option>
                    <option value="xl">XL</option>
                </select>
                <label for="color">COLOR</label>
                <select id="color" name="color">
                    <option value="negro">NEGRO</option>
                    <option value="gris">GRIS</option>
                    <option value="blanco">BLANCO</option>                    
                    <option value="color">COLOR</option>                    
                </select>
                <div class="categorias">
                    <p>CATEGORIAS </p>
                    <label>HOMBRE<input type='checkbox' name='categories' value="hombre"> </label>
                    </br>
                    <label>MUJER<input type='checkbox' name='categories' value="mujer"> </label>
                    </br>
                    <label>UNISEX<input type='checkbox' name='categories' value="unisex"> </label>
                    </br>
                </div> 
                <div class="categorias">
                    <p> TIPO DE PRENDA </p>
                    <label>REMERAS<input type='checkbox' name='categories' value="remeras"> </label>
                    </br>
                    <label>PANTALONES<input type='checkbox' name='categories' value="pantalones"> </label>
                    </br>
                    <label>SHORTS<input type='checkbox' name='categories' value="short"> </label>
                    </br>
                    <label>CALZAS<input type='checkbox' name='categories' value="calzas"> </label>
                    </br>
                    <label>CAMPERAS<input type='checkbox' name='categories' value="camperas"> </label>
                    </br>
                </div>
                </br>
                <input class="botons" type="submit" value="NUEVO PRODUCTO">
                <input class="botons" type="submit" value="EDITAR PRODUCTO">
                <input class="botons" type="submit" value="ELIMINAR PRODUCTO">
                 
          </section>
          </form>
    </main>

    <%- include('partials/footer')  %>   