<%- include('partials/metadata')  %> 
<%- include('partials/header')  %> 


    <main>
        <div class=error404> 

            <h1> OH, CREO ALGO HA FALLADO </h1>
            <img src="/public/images/dino 404.png">

        </div>
    </main>

<%- include('partials/footer')  %> 