<%- include('partials/metadata')  %> 
<%- include('partials/header')  %> 


    <main>
       
        <div class="padre-contenedor">
            <div class="container">
                <div class="div-foto">
                    <div class="div-contenedor">
                        <img class="img-grande" src="/images/productos/h-buzo-01.jpg" alt="">
                        <img class="img-grande1" src="/images/productos/h-buzo-01.jpg" alt="">
                        <img class="img-grande2" src="/images/productos/h-buzo-01.jpg" alt="">
                    </div>
                    <div class="div-contenedor-img-principal">
                        <img class="img-chica "src="/images/productos/h-buzo-01-b.jpg" alt="">
                    </div>
                    
                </div>
                
            </div>
            <div class="container-1">
                <div class="div-detalle">
                    <div class="detalle-titulo">
                        <h1>BUZO PUMA</h1>
                    </div>
    
                    <div class="price">
                        <p class="precio-producto">$700</p>
                    </div>
    
                    <div class="cuotas">
                        <p class="price"> 3 cuotas sin interés de 233$</p>
                    </div>
    
                    <div class="medios-pagos">
                        <a class="a-pagos" href="#">ver medios de pagos</a>
                    </div>
    
                    <form class="form-color" action="">
                        <label class="label-color "for="color">Color:</label>
                        <input type="color" id="color" name="color">
                    </form>
    
                    <div class="talles">
                        <p class="talle">Talles: </p>
                        <button>S</button>
                        <button>M</button>
                        <button>L</button>
                    </div>
    
                    <form class="cantidad" action="">
                        <label for="cantidad">Cantidad: </label>
                        <input class="input" type="number" id="cantidad" name="cantidad">
    
                    </form>
    
                    <button onclick="window.location.href='#';" class="boton-agregar-carrito"> Agregar al carrito</button>
    
                    <form class="envio" action="">
                        <label class="label-envio" for="envio">Envio: </label>
                        <input type="text" placeholder="ingrese su codigo postal" id="envio" name="envio">
                        <button class="calcular-boton">Calcular</button>
                    </form>
    
                    <div class="olvide-postal">
                        <a class="a-postal" href="#">Olvide mi codigo postal</a>
                    </div>
                </div>
    
               
            </div>
        </div>

        

    </main>

    <%- include('partials/footer')  %>     

