<body>
    <header>
        <div class="menu-top">
            <div class="burger-menu">
                <a href="/producto"><i class="fas fa-bars"></i></a>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="/images/completo-XLR8-mediano.png">
                </a>
            </div>    
            <div class="menu-perfil">
                <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a>
                <a href="/usuario/registro"><i class="fas fa-user-plus"></i></a>
                <a href="/usuario/log_in"><i class="fas fa-sign-in-alt"></i></a>
                </ul>
            </div>
        </div> 
        
        <div class="menu-categorias">
            <nav>
                <div class="menu-genero">
                    <div class="generos">
                        <a href="/productos/detalle">MUJERES</a>
                        <a href="/productos/detalle">HOMBRES</a>
                        <a href="/productos/detalle">UNISEX</a>
                    </div>
                    <h3> | </h3>
                    <div class="menu-prendas">
                        <a href="/productos/detalle">REMERAS</a>
                        <a href="/productos/detalle">PANTALONES</a>
                        <a href="/productos/detalle">SHORTS</a>
                        <a href="/productos/detalle">CALZAS</a>
                        <a href="/productos/detalle">CAMPERAS</a>
                    </div>
                    
                </div>
            </nav>
        </div>

        <a href="https://wa.me/5491166221744" class="boton-wp" target="_blank"><i class="fab fa-whatsapp"></i></a>
        
    </header>